#root {
  max-width: 1280px;
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f6f0e5; /* béžový základ */
  color: #1e1e1e;
}


